modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build HyserCore"

[[workflows.workflow]]
name = "Build HyserCore"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean package -DskipTests"

[workflows.workflow.metadata]
outputType = "console"

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["echo", "This is a Minecraft Spigot plugin JAR file. To use: 1) Place target/hysercore-1.0.0.jar in your Minecraft server's plugins/ directory 2) Start your Spigot 1.8.8 server 3) The plugin will initialize automatically"]
build = ["mvn", "clean", "package", "-DskipTests"]
